<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stewart MacLeman">
    <meta name="description" content="An app to contain common Software Development abbreviations">
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="./favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js" defer></script>

    <title>SD Abbrev.</title>
  </head>

  <body>
    <!-- The header --------------------------------------------------------->
      <header class="header">
        <h1>Abbreviations App</h1>
        <h2>For common SD abbrevs.</h2>
      </header>

      <!-- The users abbreviations -------------------------------------------->
      <main class="main">
        <h3>Your Abbrevs.</h3>
        <div class="abbrContainer">
          <div class="abbrRow rowHeaderDiv">
            <div><span class="rowHeader">Abbrev.</span></div>
            <div><span class="rowHeader">Definition</span></div>
            <div><span class="rowHeader">Update</span></div>
          </div>

          <% for (let i = 0; i < abbrevsArray.length; i++){ %>
            <div class="abbrRow">
              <div><span class="abbrevText"><%= abbrevsArray[i].abbrev %></span></div>
              <div><span class="defText"><%= abbrevsArray[i].definiton %></span></div>
              <div>
                <button class="updButton"
                type="button" name="id" value="<%= abbrevsArray[i]._id %>" >Update</button>
              </div>
            </div>
          <% } %>

        </div>
      </main>

      <!-- The cover for the add, edit and delete modals ------------------------>
      <div class="modelCover hide"></div>

      <!-- The add an abbreviation model/form. -------------------------------->
      <div class="addAbbrevModel hide">
        <button class="cancel" type="button" id="subCancel">Cancel</button>

        <form class="" action="/" method="post">

          <div class="abbrevInput">
            <label for="abbrev">Abbreviation: </label>
            <input type="text" id="abbrev" name="abbrev" autocomplete="off" autofocus>
          </div>

          <div class="abbrevInput">
            <label for="abbrevDefin">Definition: </label>
            <input type="text" id="abbrevDefin" name="abbrevDefin" autocomplete="off" autofocus>
          </div>

          <button type="submit" name="button">Add Abbrev.</button>
        </form>
      </div>

      <!-- The update/delete model/form. -------------------------------->
      <div class="updateAbbrevModel hide">

        <!-- Delete an item. ---------------------------------->
        <button class="delete" type="button" id="delButton">Delete Item!</button>

        <!-- Update an item. ---------------------------------->
        <form class="" action="/update" method="post">

          <input class="hide" id="abbrevId" name="id" value="">

          <div class="abbrevInput">
            <label for="abbrevUpd">Abbreviation: </label>
            <input type="text" id="abbrevUpd" name="abbrev" autocomplete="off" autofocus>
          </div>

          <div class="abbrevInput">
            <label for="abbrevDefinUpd">Definition: </label>
            <input type="text" id="abbrevDefinUpd" name="abbrevDefin" autocomplete="off" autofocus>
          </div>

          <div class="updButtonsCont">
            <button type="button" class="cancel" id="cancelUpd">Cancel</button>
            <button type="submit" name="button">Update Abbrev.</button>
          </div>

        </form>

      </div>

      <!-- The footer --------------------------------------------------------->
      <footer class="footer">
        <button type="button" id="subBut">+</button>
        <p>Click above to add more!</p>
      </footer>


  </body>
</html>
